<p id="notice"><%= notice %></p>

<p>
  <strong>Flaviauno:</strong>
  <%= @flavium.flaviaUno %>
</p>

<p>
  <strong>Flaviadue:</strong>
  <%= @flavium.flaviaDue %>
</p>

<%= link_to 'Edit', edit_flavium_path(@flavium) %> |
<%= link_to 'Back', flavia_path %>
