<p id="notice"><%= notice %></p>

<p>
  <strong>Mariouno:</strong>
  <%= @mario.marioUno %>
</p>

<p>
  <strong>Mariodue:</strong>
  <%= @mario.marioDue %>
</p>

<%= link_to 'Edit', edit_mario_path(@mario) %> |
<%= link_to 'Back', marios_path %>
